/**
 * (c) 2017 Hajime Yamasaki Vukelic
 * All rights reserved.
 */

.__DUCKWEED_DEVTOOL__
  font-family Arial, Helvetica, sans-serif
  font-size 16px
  line-height 120%

.__DUCKWEED_DEVTOOL__ *
  box-sizing border-box
  font-size 100%
  font-style normal
  list-style none
  margin 0
  padding 0
  text-decoration none

.toolbar
  background #555555
  border-bottom-left-radius 4px
  border-top-left-radius 4px
  bottom 4px
  opacity 0.3
  padding 2px 4px
  position fixed
  right 0
  z-index 5001

  &:hover
    opacity 1

.panelButton
  background transparent
  border none
  color white
  cursor pointer

.panelContents
  background transparentify(white, 0.8)
  bottom 0
  box-shadow 0 0 10px transparentify(black, 0.3)
  height 30vh
  left 0
  overflow hidden
  padding 0.2rem 0.2rem 0.5rem
  position fixed
  right 0
  transition all
  z-index 5000
