/**
 * (c) 2017 Hajime Yamasaki Vukelic
 * All rights reserved.
 */

.listItem
  margin-bottom: 1px
  padding: 0.2rem 0.5rem
  background: transparentify(#777, 0.4)
  color: white
  cursor: pointer
  transition: background 0.3s
  border-radius: 4px

  &:hover {
    background: black;
  }

.activeItem
  background: transparentify(#777, 0.8)
