/**
 * (c) 2017 Hajime Yamasaki Vukelic
 * All rights reserved.
 */

.scrubber
  align-content center
  display flex
  height 2rem
  justify-content space-between

.buttons
  align-items center
  display inline-block
  display inline-flex
  height 2rem
  text-align center
  vertical-align middle
  white-space nowrap

.button
  background transparent
  background-size cover
  border 0
  cursor pointer
  height 24px
  margin-left 0.5rem
  overflow hidden
  padding 0.2rem
  text-indent -100vw
  width 24px

.next
  background-image url("icons/forward.svg")

.prev
  background-image url("icons/backward.svg")

.clear
  background-image url("icons/stop.svg")

.disabled
  cursor pointer
  opacity 0.2

.progress
  display inline-block
  height 31px
  position relative
  vertical-align middle
  width 100%

.bar
  background #444444
  border-radius 1px
  height 3px
  left 15px
  position absolute
  right 15px
  top 15px

.handle
  background #777777
  border 1px solid #dddddd
  border-radius 16px
  box-shadow 0 2px 5px transparentify(black, 0.3)
  height 31px
  position absolute
  top -15px
  margin-left: -16px
  transform scale(0.5)
  transition all 0.2s
  width 31px

.handle:hover
.activeHandle
    background: #7ac623
    transform scale(1)

.position
  display inline-block
  font-family monospace
  font-size 90%
  line-height 2rem
  padding 0 0.5rem
  vertical-align middle
  white-space nowrap
